{% extends "wagtail_materializecss/base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtail_materializecss_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m9 l9">
            <h2 class="header {{ page.color }}-text">{{ page.title }}</h2>
            <p class="caption">{{ page.author}} - {{ page.date }}</p>

            {% for block in page.body %}
                {% if block.block_type == 'heading' %}
                    <h3>{% include_block block.value %}</h3>
                    <div class="divider"></div>
                {% else %}
                    {% include_block block %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col hide-on-small-only m3 l3" style="margin-top: 1rem;">
            <div class="pushpin" style="margin-top: 5rem">
                {% image page.user_image fill-200x200 class="responsive-img circle center-object" %}
                <h3 class="{{ page.color }}-text">{{ page.author }}</h3>
                {% include_table_of_contents %}
            </div>
        </div>
    </div>
{% endblock %}
